<h1>Editing <%= @song.title %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.fields_for :artist do |artist_builder| %>
      <%= artist_builder.label :artist_name %>
      <%= artist_builder.text_field :artist_name %>
  <% end %>
  <br />

  <%= f.submit %>
<% end %>
